#particles-js{

    height: 100vh;
    width:  100%;
    position: fixed;
    z-index: -1;

}

body{

    background-color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header{

    background-color: #001eff; 
    width: 100%;
    clear: both; 
    content: "";
    display: table; 

}

#contenido{

    width: 1290px;
    background-color: white; 

}

#img_table{

    border-collapse: separate;
    border-spacing: 70px 0px;

}
#hombre{
    position: relative;
    background-color: white;
}

#hombre::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(-90deg,#14ffe9 0%, #ffeb3b 47%, #ff00e0 100%);
    background-size: 400%;
    width: calc(100%  + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
#hombre::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(-90deg,#14ffe9 0%, #ffeb3b 47%, #ff00e0 100%);
    background-size: 400%;
    width: calc(100%  + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 20s linear infinite;
    filter: blur(10px)
}

#contenido-superior{
    position: relative;
    background-color: black;
}

#contenido-superior::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    margin-left: -1.8px;
    background: linear-gradient(-90deg,#14ffe9 0%, #ffeb3b 47%, #ff00e0 100%);
    background-size: 400%;
    width: calc(100%  + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
#contenido-superior::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    margin-left: -1.8px;
    background: linear-gradient(-90deg,#14ffe9 0%, #ffeb3b 47%, #ff00e0 100%);
    background-size: 400%;
    width: calc(100%  + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 20s linear infinite;
    filter: blur(10px)
}
@keyframes animate
{
    0%
    {
        background-position: 0 0;
    }
    50%
    {
        background-position: 100% 0;
    }
    100%
    {
        background-position: 0 0;
    }
}

#hombre::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(-90deg,#14ffe9 0%, #ffeb3b 47%, #ff00e0 100%);
    background-size: 400%;
    width: calc(100%  + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 20s linear infinite;
    filter: blur(10px)
}

#boton{
    position: relative;
    background: black;
}

#boton::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(-90deg,#14ffe9 0%, #ffeb3b 47%, #ff00e0 100%);
    background-size: 400%;
    width: calc(100%  + 4px);
    height: calc(100% + 4px);
    z-index: -1;
}

#boton::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(-90deg,#14ffe9 0%, #ffeb3b 47%, #ff00e0 100%);
    background-size: 400%;
    width: calc(100%  + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 20s linear infinite;
    filter: blur(10px)
}

a{
    text-decoration: none;
    text-transform: uppercase;
}

a span{
    color: grey;
}

a:hover span{
    color: white;
    text-shadow: 0 0 20px #fff;
}

#a2{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

#a2 span{
    color:white;
}

#a2:hover span{
    color: rgb(65, 255, 113);
    text-shadow: 0 0 20px rgb(69, 255, 153);
}

#a3{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

#a3 span{
    color:white;
}

#a3:hover span{
    color: rgb(252, 255, 65);
    text-shadow: 0 0 20px rgb(255, 252, 69);
}

#a4{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

#a4 span{
    color:white;
}

#a4:hover span{
    color: rgb(65, 255, 255);
    text-shadow: 0 0 20px rgb(69, 218, 255);
}

.contenedor{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}

.contenedor .box{
    position: relative;
    width: 320px;
    height: 361px;
    color: #fff;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
}

.contenedor .box:hover{
    transform: translateY(-20px);
}

.contenedor .box::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#ffbc00, #ff0050);
}

.contenedor .box::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#ffbc00, #ff0050);
    filter: blur(20px);
}

.contenedor .box:nth-child(2):before,
.contenedor .box:nth-child(2):after{
    background: linear-gradient(315deg,#03a9f4, #ff0050);
}

.contenedor .box:nth-child(3):before,
.contenedor .box:nth-child(3):after{
    background: linear-gradient(315deg,#4dff03, #00d0ff);
}

.contenedor .box span{
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.contenedor .box span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.contenedor .box .contener{
    position: relative;
    z-index: 10;
    padding: 20px 40px;
}

.contenedor .box .contener h2{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
    margin-top: -60px;
}

.contenedor .box .contener p{
    font-size: 1.1em;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.contenedor .box .contener a{
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
}




